@import "src/sass_utils";

.center {
    margin: 0 auto;
    text-align: center;
}

.overview {
    
    .overviewImage {
        border-radius: 20px;
        border-width: 2px;
        border-color: white;
        padding: 8px;
        max-width: 450px;
    }
}