@import "src/sass_utils";

.NPCThumbCard {
    position: relative;
    width: 300px;
    margin: 0 auto;
    border-width: 0px;
    border-color: $light;
    border-radius: 50px;
    border-style: solid;
    color: $success;
    overflow: hidden;

    :hover {
        cursor: pointer;
    }

    &.NPCThumbCard:hover .imageContainer {
        transition: transform 1s, filter 1s ease-in-out;
        filter: blur(0);
        transform: scale(1);

        &:hover {
            filter: blur(2px);
            transform: scale(1.2);
        }
    }

    .nameContainer {
        position: absolute;
        top: 50%;
        opacity: 0.8;
        align-items: center;
        background-color: $dark;
        width: 100%;
        z-index: 1;
        transition: all 0.5s linear;

    }

    &.NPCThumbCard:hover .nameContainer {
        top: 40%;
        transition: all 0.5s linear;
        &.isActive{
            top: 10%
        }
    }

    &.isActive .imageContainer{
        transition: transform 1s, filter 1s ease-in-out;
        opacity: 0.4;
    }

    &.isActive .nameContainer{
        position: absolute;
        transition: all 0.5s linear;
        top: 10%;

    }


    .backstoryContainer {
        position: absolute;
        top: 20%;
        opacity: 0.8;
        align-items: center;
        background-color: $dark;
        width: 100%;
        z-index: 2;
        transition: all 0.5s linear;
        opacity: 1;
    }
}

