@import "src/sass_utils";

.button {
    color: $dark;
    background-color: $primary;
    border-style: solid;
    border-radius: 8px;
    padding: 4px 8px;
    min-height: fit-content;

    &:active {
        opacity: 90%;
    }

    &.round {
        border-radius: 16px;
    }

    &.secondary {
        background-color: $neutral;
    }

    &.success {
        background-color: $success;
    }

    &.error {
        background-color: $error;
        color: $light;
    }

    &.light {
        background-color: $light;
    }

    &.dark {
        background-color: $dark;
        color: $primary;
    }

    &.borderColor-primary {
        border-color: $primary;
    }

    &.borderColor-secondary {
        border-color: $neutral;
    }

    &.borderColor-success {
        border-color: $success;
    }

    &.borderColor-error {
        border-color: $error;
        color: $light;
    }

    &.borderColor-light {
        border-color: $light;
    }

    &.borderColor-dark {
        border-color: $dark;
    }

    &.large {
        width: 100%;
        font-size: larger;
    }
}

@keyframes bounceAndSpin {
    0% {
        transform: rotate(0deg);

    }

    50% {
        transform: rotate(-180deg) scale(1.5);

    }

    0% {
        transform: rotate(-360deg);

    }
}

@keyframes spinIn {
    0% {
        transform: rotateY(0deg);

    }

    50% {
        transform: rotateY(-180deg);

    }

    0% {
        transform: rotateY(-360deg) scale(2.0);

    }
}

.loaderContainer {
    width: 100%;
    margin: 0 auto;
    &.loader {
        z-index: 1;
        animation-name: bounceAndSpin;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        overflow: hidden;
        width: fit-content;
        
    }

    &.error {
        z-index: 1;
        animation-name: spinIn;
        animation-duration: 1s;
        animation-iteration-count: 1;
        overflow: hidden;
        width: fit-content;
    }

    &.success {
        z-index: 1;
        animation-name: spinIn;
        animation-duration: 1s;
        animation-iteration-count: 1;
        overflow: hidden;
        width: fit-content;
    }
}

//  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
// background: linear-gradient(to bottom right, #EF4765, #FF9A5A);

