@import "src/sass_utils";

.Tabs {
    width: 100%;
    .headerContainer {
        margin: 0 auto;
        width: 100%;
        .header {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: center;

            @media(max-width: 600px) {
                flex-direction: column;
            }

            .tab {
                padding-left: 8px;
                padding-right: 8px;
                border-style: solid;
                border-width: 1px;
                border-top: none;
                border-right: none;
                border-left: none;
                margin: 0 4px;
                border-color: $light;
                color: $light;

                @media(max-width: 600px) {
                    padding-top: 16px;
                }

                &:hover {
                    border-color: $primary;
                    cursor: pointer; 
                }
            }
            .active {
                border-color: $primary;
                color: $primary;
            }
        }
    }
}