@import "src/sass_utils";

.campaigns {
   width: 100%;

   .campaignsContainer {
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    row-gap: 16px;
    column-gap: 4px;
    flex-wrap: wrap;

    .campaignContainer {
        //width: 100%;
        flex-shrink: 1;
    }
   }
}