.playerInitiativeContainer {
    color: white;
    padding-top: 96px;

    .characterContainer {
        padding-top: 16px;
        .imageContainer {
            border-radius: 100px;
        }

        .turnIndicator {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 16px;
            column-gap: 16px;
            font-size: xx-large;
        }
    }

    .editCharacter {
        .healthInput {
            padding: 16px 0;
            max-width: 250px;
            margin: 0 auto;
        }
    }

    .healthBars {
        padding-top: 24px;
        align-items: center;
        margin: 0 auto;
        min-width: 300px;
        width: 70%;

        .healthBar {
            padding-top: 8px;
        }

        .nameRowContainer {
            display: grid;
            grid-template-columns: 16px 1fr;
            column-gap: 8px;
            align-items: center;
            
            .nameRow {
                display: flex;
                flex-wrap: wrap;
                column-gap: 8px;
                align-items: center;
                padding-bottom: 4px;
                font-size: 20px;
                width: 100%;

            }
            .nextRowIcon {
                visibility: hidden;
                &.show {
                    animation-name: slideIn;
                    animation-duration: 1s;
                    visibility: visible;
                }

                &.showWarning{
                    visibility: visible;
                    animation-name: fadeIn;
                    animation-duration: 1s;
                    color: orange;
                }
            }
        }
    }
}

.conditionsSelector {
    width: 70%;
    min-width: 375px;
    margin: 0 auto;
}

.healthCounterContainer {
    background-color: black;
    opacity: 0.9;
    border-radius: 16px;
    text-align: center;
    padding: 16px;
    margin: 0 auto;

    .counterButtons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 8px;

        .incrementInput{
            width: 50px;
        }
        
        .plus {
            color: green;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .minus {
            color: red;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}


@keyframes slideIn {
    from {
        margin-left: -16px;
        opacity: 0;
    }

    to {
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}