@import "src/sass_utils";

.playerInitiativeContainer {
    color: white;

    .editCharacter {
        .healthInput {
            padding: 16px 0;
            max-width: 250px;
            margin: 0 auto;
        }
    }

    .healthBars {
        padding-top: 24px;
        align-items: center;
        margin: 0 auto;
        min-width: 300px;
        width: 70%;

        .healthBar {
            padding-top: 8px;
        }

        .nameRowContainer {
            display: grid;
            grid-template-columns: 16px 1fr;
            column-gap: 8px;
            align-items: center;
            
            .nameRow {
                display: flex;
                flex-wrap: wrap;
                column-gap: 8px;
                align-items: center;
                padding-bottom: 4px;
                font-size: 20px;
                width: 100%;

            }
            .nextRowIcon {
                visibility: hidden;
                &.show {
                    animation-name: slideIn;
                    animation-duration: 1s;
                    visibility: visible;
                }

                &.showWarning{
                    visibility: visible;
                    animation-name: fadeIn;
                    animation-duration: 1s;
                    color: orange;
                }
            }
        }
    }
}

.selectedPlayerContainer {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    padding-top: 24px;

    @media (max-width: 800px) {
        flex-direction: column;
    }

    .titleContainer {
        margin: 0 auto;
        display: flex;
        column-gap: 8px;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 800px) {
            max-width: 300px;
            flex-wrap: wrap;
            justify-content: center;
     }
    }

    .imageContainer {
        flex-shrink: 1;
        .image {
            max-height: 300px;
            border-radius: 16px;
        }
    }

    .characterInfoContainer {
        display: flex;
        flex-direction: column;
       
        .inputSection {
            margin: 0 auto;
            display: flex;
            column-gap: 16px;
            .input {
                width: 52px;
            }
        }
    }
}

.toggleButtonsContainer {
    display: flex;
    column-gap: 16px;
    align-items: end;
}

.conditionsSelector {
    width: 70%;
    min-width: 375px;
    margin: 0 auto;
}

.healthCounterContainer {
    background-color: black;
    opacity: 0.9;
    border-radius: 16px;
    text-align: center;
    padding: 0 8px;
    margin: 0 auto;
    width: 80px;
   
    .incrementText{
        padding-bottom: 12px;
    }

    .counterButtons {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 8px;

        
        
        .plus {
            color: $success;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .minus {
            color: $error;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
    }
}


@keyframes slideIn {
    from {
        margin-left: -16px;
        opacity: 0;
    }

    to {
        margin-left: 0px;
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}