
.addNoteButton {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 100;
}

.noteContainer {
    background-color: white;
    color: black;
}

.notesList {
    background-color: white;

    .note {
        height: 100%;
        padding: 16px 8px;
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: black;
        display: grid;
        grid-template-columns: 48px auto 56px;
        column-gap: 8px;

        .noteColumnContainer {
            height: 100%;
            display: flex;
            align-items: center;
        }

        .noteTextContainer {
            display: flex;
            flex-direction: column;
            text-align: left;
        }
    }
}