@import "src/sass_utils";


.typography {
    font-size: 16px;
    font-family: $primary_font_family;

    &.block {
        font-family: $block_font_family;
    }

    &.rough {
        font-family: $rough_font_family;
    }

    &.secondary {
        font-family: $secondary_font_family;
    }

    &.light {
        color: $light;
    }
    &.tertiary {
        color: $tertiary;
    }
    &.dark {
        color: $dark;
    }
    &.error {
        color: $error;
    }
    &.primary {
        color: $primary;
    }
    &.success {
        color: $success;
    }

    &.caption {
        font-size: 10px;
    }

    &.small {
        font-size: 12px;
    }

    &.large {
        font-size: 24px;
    }

    &.xtraLarge {
        font-size: 36px;
    }

    &.xx-large {
        font-size: 48px;
    }

    &.bolder {
        font-weight: bolder;
    }

    &.bold {
        font-weight: bolder;
    }

    &.underline {
        text-decoration: underline;
    }
}