@import "src/sass_utils";


.typography {
    font-size: medium;
    &.light {
        color: $light;
    }
    &.dark {
        color: $dark;
    }
    &.error {
        color: $error;
    }
    &.primary {
        color: $primary;
    }

    &.caption {
        font-size: x-small;
    }

    &.small {
        font-size: small;
    }

    &.large {
        font-size: large;
    }

    &.xtraLarge {
        font-size: x-large;
    }

    &.bolder {
        font-weight: bolder;
    }

    &.bold {
        font-weight: bolder;
    }
}