.bordered-card {
    border-radius: 50px;
    color: white;
    opacity: .5;
    width: 400px;
    height: 250px;
}

.bordered-card:hover {
    border-color: white;
    border-radius: 50px;
    color: white;
    opacity: 1.0;
}

.card-image {
    max-width: 100%;
    border-radius: 50px;
}

.card-image:hover {
    max-width: 105%;
    border-radius: 50px;
}

.card-text {
    margin-top: -25%;
}