.npc-list-entry {
    position: relative;
    margin:  auto;
    justify-content: center;
    align-items: center;
}

.npc-list-entry img {
    width: 100%;
    padding: 10px;
}

.npc-list-entry h4 {
    color: whitesmoke;
}

.npc-list-entry p {
    position: absolute;
    opacity: 0;
    text-align: center;
    color: white;
    padding: 10px;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
}

.clicked img{
    opacity: .25
}

.clicked p{
    opacity: 1;
}

.delete-button-hidden {
    display: none;
}

.delete-button {
    padding-top: 10px;
}