@import "src/sass_utils";

.textInput {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: $primary;
    background: none;
    outline: none;
    font-size: medium;
    color: $primary;
    margin-top: -20px;
    width: 100%;

    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    &[type=number] {
    -moz-appearance: textfield;
    }

    &.inactive {
        margin-top: 0px;
    }
}

.placeholder {
    position: absolute;
    text-align: left;
    font-size: medium;
    color: $neutral;
    z-index: 10;
}

.error {
    color: red;
}

.errorTextInput {
    color: red;
    border-color: red;
}