@import "src/sass_utils";

.characterSearch {
    padding-left: 16px;
    padding-right: 16px;
    min-width: 400px;
}

.characterAddButtton {
    margin: 0 auto;
    width: 300px;
}

.pageContainer {
    perspective: 1000px;
}