
.settingsDrawerContainer {
    padding: 8px 16px;
}

.settingsRow {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.tokenButtons {
    display: flex;
    column-gap: 4px;
    align-items: center;
}

.addTokenEntry {
    padding: 8px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    justify-content: space-between;

    .addTokenInfo {
        display: flex;
        column-gap: 8px;
        align-items: center;
    }
}