@import "src/sass_utils";

.drawerBackdrop {
  display: block;
  position: fixed;
  z-index: 150; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
}

.drawerButton {
  display: block;
  position: fixed;
  z-index: 200;
  .icon {
    color: $light;
  }

  &.bottom {
    left: 50%;
    bottom: 0;
  }

  &.left {
    left: 0;
    top: 50%;
  }

  &.left {
    right: 0;
    top: 50%;
  }
}

.drawer {
  display: block;
  position: fixed;
  z-index: 150; /* Sit on top */
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: scroll; /* Enable scroll if needed */
  background-color: $dark;
  z-index: 200;
  overscroll-behavior: none;

  &.bottom {
    left: 0;
    top: 10%;
  }

  &.left {
    left: 0;
    top: 0;
    max-width: 450px;
  }

  &.right {
    right: 0%;
    top: 0;
    max-width: 450px;

  }
}

.tray {
  display: flex;
  position: fixed;
  z-index: 150; /* Sit on top */
  top: 10%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background: $neutral;
  z-index: 200;
  overscroll-behavior: none;
  border-radius: 0 0 0 20px;

  &.bottom {
    left: 0;
    top: 10%;
  }

  &.left {
    left: 0;
    top: 0;
    max-width: 200px;
    max-height: 200px;
  }

  &.right {
    right: 0%;
    top: 0;
    max-width: 250px;
    max-height: 200px;

  }


}

.trayContents {
  opacity: 1.2;
}

.openTab {
  border-radius: 20px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
