.home-page {
    height: 95vh;
    width: 100vw;
    padding: 5vh;
}

.center {
    margin-top: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-top {
    display: flex;
    justify-content: center;    
}

.row {
    flex-direction: row;
}

.center-bottom {
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}