@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cinzel:wght@400;500&family=Protest+Revolution&family=Protest+Strike&display=swap')
//https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap

$light: var(--light-color)
$dark: var(--dark-color)
$primary: var(--primary-color)
$secondary: var(--secondary-color)
$neutral: var(--neutral-color)
$tertiary: var(--tertiary-color)
$error: var(--error-color)
$success: var(--success-color)


$primary_font_family: 'Bitter', serif
$secondary_font_family: 'Cinzel', serif
$block_font_family: 'Protest Strike', sans-serif
$rough_font_family: 'Protest Revolution', sans-serif

