.App {
  /*background: url(./images/homeBackground.jpg) no-repeat center center fixed;*/
  background-color: #0f1417;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

.nonHomePage {
  margin-top: 75px;
  min-height: 100vh;
  padding-left: 16px;
  padding-right: 16px;
  overflow: hidden;
}