@import "src/sass_utils";

.CampaignThumbCard {
    position: relative;
    margin: 0 auto;
    border-width: 3px;
    border-color: $dark;
    border-radius: 16px;
    border-style: solid;
    color: $success;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        z-index: 10;
        border-color: $primary;
        transition: all 1s ease-in;
    }

    .imageContainer {
        max-height: 400px;
        overflow: hidden;
        display: flex;
        align-items: center;
    }

    &.CampaignThumbCard:hover {
        transition: filter .5s ease-in-out;
        transform-origin: center center;

        &:hover {
            filter: contrast(200%);
            
        }
    }

    .nameContainer {
        position: absolute;
        top: 50%;
        align-items: center;
        background-color: var(--floating-container-color);
        width: 100%;
        z-index: 1;
        transition: all 0.2s linear;

    }
}

@keyframes glow {
    from {
      box-shadow: 0 0 10px -10px $tertiary;
    }
    to {
      box-shadow: 0 0 10px 10px $tertiary;
    }
  }

