@import "src/sass_utils";

.gridOverlay {
    position: absolute;


    .gridOverlaySquare {
        border-color: $dark;
        border-style: solid;
        border-width: 1px;
        opacity: 0.8;
    }
}