@import "src/sass_utils";

.skillsSelect {
    margin: 0 auto;
    width: 100%;
    .select {
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        color: $primary;
        border-color: $primary;
        box-shadow: none;
    }

    .header {
        text-align: left;
    }
}