@import "src/sass_utils";

.editor {
    color: white;
}
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 23px !important;
  line-height: 24px !important;
  color: white !important;
}