@import "src/sass_utils";

.editor {
    color: white;
    width: 100%;
    min-width: 230px;
}
.w-md-editor-text-pre > code,
.w-md-editor-text-input {
  font-size: 23px !important;
  line-height: 24px !important;
  color: white !important;
  width: 100%;
}